.pizza-menu {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
    
    .order-card {
        width: calc(33.33% - 20px);
        background-color: whitesmoke;
        margin: 10px;
        border: 3px solid  #017A53;

        @media (max-width: 991px) {
            width: calc(50% - 20px);
        }
        @media (max-width: 767px) {
            width: 100%;
        }

        .card-img-wrapper {
            height: 250px;
            background-size: contain;

            @media (max-width: 767px) {
                height: 250px;
            }
        }
        .card-info-wrapper {
            .order-button {
                background-color: #E02623;
            }
        }
    }
}