.menu {
    width: 100%;
    min-height: calc(100vh - 75px);
    background-image: url('/img/Banner/menu-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .menu-overlay{
        display: block;
        width: 100%;
        min-height: calc(100vh - 75px);
        background-color: rgba(#d8af75, 0.75);
    }
}