.footer{
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 20px 0;
    @media (min-width: 473px) {
        padding: 40px 0;
    }
    .footer-wrapper {
        width: 85%;
        margin: 0 auto;
        p {
            text-align: center;
            margin-bottom: 20px;
            font-size: 1.25rem;
            font-weight: 600;
            color: #555555;
            @media (max-width: 472px) {
                margin-bottom: 15px;
            }
        }
        .useful-links-container {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            @media (max-width: 472px) {
                flex-direction: column;
                align-items: center;
            }
            .useful-link {
                margin: 0 10px;
                font-weight: 500;
                color: #555555;
                @media (max-width: 495px) {
                    margin: 0 7.5px;
                }
                @media (max-width: 472px) {
                    margin: 7.5px 0;
                }
            }
        }
        .social-media-container {
            display: flex;
            justify-content: center;

            .social-link {
                margin: 0 10px;
                font-size: 2em;
                color: #555555;
                display: flex;
                
            }
        }
    }
    
}