.order-card {
    border-radius: 5px;

    .card-img-wrapper {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5px 5px 0 0;
    }
    .card-info-wrapper {
        display: flex;
        border-radius: 0 0 5px 5px;
        flex-direction: column;
        align-items: center;
        
        .card-title {
            display: inline-block;
            text-align: center;
            margin: 10px 0;
            padding-bottom: 10px;
            font-size: 1.25rem;
            font-weight: bold;
            color: #006491;
            border-bottom: 2px solid #999999;
        }
        .card-desc {
            text-align: center;
            margin: 10px 0;
            height: 32px;
            padding: 0 5px;
        }
        .order-button {
            border: none;
            padding: 5px 15px;
            color: white;
            font-weight: 450;
            border-radius: 5px;
            font-size: 1.25rem;
            margin: 20px 0;
        }
    }
    
}